/*
  Fonts: https://fonts.google.com/specimen/Strichpunkt+Sans
*/

@import url('https://fonts.googleapis.com/css2?family=Strichpunkt+Sans:wght@400..900&display=swap');


/*
  Variables
*/

:root {
  /*
    Colors: https://flatuicolors.com/palette/ru
  */
  --color-primary: #c44569;
  --color-primary-soft: #cf6a87;
  --color-background: #303952;

  /*
    Sizes
  */
  --size-header: 3rem;
  --size-header-padding: .5rem;
  --size-header-negative-padding: -.5rem;

  /*
    Font Weights
  */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-black: 900;
}


/*
  Reset
*/

* {
  box-sizing: border-box;
}


/*
  Body and background
*/

body {
  margin: 0;
  padding-top: var(--size-header);
  font-family: "Strichpunkt Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: var(--font-weight-medium);
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: whitesmoke;
  background-color: var(--color-background);
  background: radial-gradient(circle at 0% 0%, black, var(--color-background)) no-repeat fixed;
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: .1;
}

.background-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/*
  Basis
*/

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  color: var(--color-primary-soft);
}


/*
  Header
*/

header {
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--size-header);
  z-index: 1000;
  padding: var(--size-header-padding);
  background-color: rgba(0, 0, 0, .2);
}

header > a.header-link {
  display: none;
}

@media screen and (min-width: 420px) {
  header {
    justify-content: space-between;
  }

  header > a.header-link {
    display: block;
  }
}


header > a.header-link,
header > ul {
  height: var(--size-header);
  margin: var(--size-header-negative-padding);
  padding: var(--size-header-padding);
  align-content: center;
}

header > a.header-link > h1 {
  margin: 0;
  padding: 0;
  font-size: 1.25rem;
}

header > ul {
  display: flex;
  list-style: none;
}

header > ul > li {
  margin: 0;
  padding: 0;
  height: 100%;
  align-content: center;
}

header > ul > li > a {
  padding: .25rem .5rem;
  font-weight: var(--font-weight-bold);
}

/*
  Footer
*/

footer {
  margin-top: 4rem;
  padding: 1rem;
  background-color: var(--color-background);
}

footer > .links {
  display: block;
}

@media screen and (min-width: 600px) {
  footer > .links {
    display: flex;
    margin: 0 auto;
    max-width: 800px;
    justify-content: space-between;
  }
}

footer > .links > ul {
  margin: 2rem;
  padding: 0;
  list-style: none;
}

footer > p {
  text-align: center;
  font-size: .75rem;
  font-weight: var(--font-weight-regular);
}


/*
  Sections
*/

section {
  margin: 2rem auto;
  padding: 1rem;
  max-width: 800px;
}

section > h1 {
  margin: 1rem 0;
  padding: 0;
  font-size: 2rem;
  font-weight: var(--font-weight-bold);
  text-align: center;
}

section > h2 {
  margin: .5rem 0;
  padding: 0;
  font-size: 1.5rem;
  font-weight: var(--font-weight-regular);
}


/*
  Item
*/

.item {
  display: flex;
  flex-direction: column;
  margin: .5rem 0;
  padding: 1rem;
  background-color: rgba(0, 0, 0, .2);
}

.item > .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item > .top > .provider {
  font-size: .75rem;
  font-weight: var(--font-weight-bold);
  color: var(--color-background);
}

.item > .top > .download {
  font-size: 1.25rem;
}

.item > .header {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  gap: .5rem;
  align-items: center;
}

.item > .header > .name {
  font-size: 1rem;
  font-weight: var(--font-weight-bold);
  word-break: break-word;
}

.item > .header > .download-info {
  font-size: .75rem;
  font-weight: var(--font-weight-regular);
}

.item > .header > .download-info > .peers-seeds {
  display: flex;
  gap: .5rem;
}

.item > .header > .download-info > .peers-seeds > span {
  text-wrap: nowrap;
}

.item > .header > .download-info > .size {
  text-align: center;
}

.item > .content-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: .75rem;
  margin: .5rem 0;
}

.item > .content-info > .languages > .tags {
  display: flex;
  gap: .25rem;
}

.item > .content-info > .languages > .tags > .language {
  padding: .25rem .5rem;
  border: 1px solid rgba(255, 255, 255, .1);
  border-radius: .25rem;
}

.item > .files {
  display: flex;
  flex-wrap: wrap;
  gap: .25rem;
  font-size: .75rem;
}

.item > .files > .file {
  padding: .25rem .5rem;
  background-color: rgba(255, 255, 255, .1);
  border-radius: .25rem;
  word-break: break-word;
}

/*
  Items Paginated
*/

.items-paginated > .pagination {
  margin: 2rem 0;
  font-size: 1.25rem;
}

.items-paginated > .pagination > .previous {
  float: left;
}

.items-paginated > .pagination > .next {
  float: right;
}
